body{
font-family: 'Arial', serif;
}

#about {
  background-image: url("images/pc.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  font-family: Arial;
  font-size: 50px;
  color: white;
}

#cl {
background-color: #EEEEEE;
}

#experience{
  background-color: #EEEEEE;
}
#contact {
  background-color: #E7E7E7;
  padding-bottom: 50px;
}

#portfolio{
  background-color: #EEEEEE;
}
#hobby{
  margin-bottom: 50px;
}

.pdf {
  color: white;
  text-decoration-style: none;
}


.icons{
  color: #089176;
}

.xxx {
  font-size: 35px;
  color: rgba(0,0,0,0.6);
  font-weight: bolder;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);;
}

.coordonnees{
  font-size: 15px;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
}

.data{
  color: rgba(23, 26, 25, 0.84);
}

h1{
  color: #089176;
  font-family: ;
  font-weight: bolder;
  font-size: 2em;
}

.titre {
  color: #CCCCCC;
}

.line {
  border-top: solid 5px;
  border-color: #089176;
  width: 100px;
  margin-bottom: 10px;
}

.ligne {
  border-top: solid 5px;
  border-color: #089176;
  width: 100px;
  margin-bottom: 50px;
}

#intro {
  text-align: justify;
}

#hobby i{
  color: #089176;
  margin-left: 70px;
  margin-right: 70px;
}


.dev{
  font-weight: bold;
  font-size: 16px;
  color: grey;
}


#portfolio .ligne {
  margin: auto;
  padding-bottom: 20px;
}

.navbar {
  border-radius: 0px;
}

.date{
  color: #089176;
  font-weight: bold;
  font-size: 16px;
}

.company{
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #999999;
}

.place{
  font-size: 14px;
  font-weight: bold;
}

.position{
  color: #272727;
  font-weight: bold;
  font-size: 14px;
}

#gskillslist{
  margin-top: 30px;
}

footer{
  background-color: #474D5D;
  padding: 50px;
}

footer .fa{
  color: #F5534B;
  margin-left: 15px;
  margin-right: 15px;
}

footer i:hover {
  color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #089176;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #C9302C;
}

/*timeline*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

#timeline1:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #b4b2b8;
  left: 50%;
  margin-left: -1.5px;
}

#timeline2:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #b4b2b8;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-top: 6px solid #089176;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

#generales {
  padding-left: 70px;
}

.logos{
  display: flex;
  align-items: center;
}

#doughnut,#doughnut2,#doughnut3,#doughnut4{
  position: absolute;
}
#skill1,#skill2,#skill3,#skill4{
  position: relative;
}

#linguistique{
  margin-top: 30px ;
  margin-bottom: 50px;
}
